<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Django simple login {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Django simple login</h1>
        {% if user.is_authenticated %}
        Hi {{ user.username }} !
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    </header>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>>
    <hr>


</body>
</html>